body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #edeedb;
    text-align: center;
    width: 90%;
    margin: 40px auto;
}
.container {
    padding: 30px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: #e8e6e0cb;
}

.sequence {
    display: flex;
    justify-content: center;
    gap: 20px;
}

p {
    font-size: 16px;
    margin: 20px;
    font-style: italic;
}

.step {
    width: 300px;
}

.step img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.buttons {
    width: 1000px;
    margin: 30px auto;
    padding: 10px;
}

.buttons button {
    font-family: Arial, sans-serif;
    padding: 10px 10px;
}